/*
body {
  font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
}

*/
@hyphenate-resource {
  /* English */
  en:    url(en-GB.hy);
  en-US: url(en-US.hy);
  en-x-hixie:    url(hixie.hy), local, url(en-GB.hy);
  en-US-x-hixie: url(hixie.hy), local, url(en-US.hy);
}
@import url("https://fonts.googleapis.com/css?family=Montserrat:700,800,900|Raleway:900|Roboto:100,200,300,400,500&display=swap");

/* --------- Global Styles --------------- */
/* --------- Global Styles --------------- */
/* --------- Global Styles --------------- */

/* html {
  font-size: 2vw; 
  
} */

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: calc(36px + (36 - 26) * ((100vw - 950px) / (1920 - 950)));
  line-height: 1.1;
  color: black;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: calc(36px + (36 - 20) * ((100vw - 375px) / (1920 - 375)));
  line-height: 1.1;
  color: black;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.1;
  color: black;
}

p {
  font-family: "Roboto", sans-serif;
  color: darkslategray;
  font-size: calc(18px + (18 - 14) * ((100vw - 375px) / (1920 - 375)));
  font-weight: 300;
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-word;
  }

/* ------------ Navabar ------------- */
/* ------------ Navabar ------------- */
/* ------------ Navabar ------------- */

.navbar {
  position: fixed;
  width: 100%;
  background-color: rgb(36, 16, 41);
  height: 100px;
  /* box-shadow: 1px 5px 7px 0 rgba(0, 0, 0, 0.3); */
  z-index: 100;
}

.navbar .logo {
  float: left;
  display: block;
  width: 175px;
  padding: 15px 0 0 0;
  margin-left: 7.5%;
}

.navbar .menu {
  margin:0;
  padding:0;
  list-style: none;
  overflow: hidden;
  background-color: rgb(36, 16, 41);
}

.navbar .menu a,
.navbar .menu a:active,
.navbar .menu a:visited {
  display: block;
  font-family: Roboto;
  font-weight: 400;
  color: lightgray;
  text-decoration: none;
  padding:20px;
  transition: color 0.7s;
}

.navbar .menu a:hover {
  color: rgb(255, 255, 86);
  
}

.navbar .menu-icon {
  display: block;
  padding: 28px 20px;
  position: relative;
  float: right;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.navbar .menu-icon .nav-icon {
  background: lightgray;
  display: block;
  height: 2px;
  width: 22px;
  position: relative;
  transition: background 0.3s ease-out;
}

.navbar .menu-icon .nav-icon:before {
  background: lightgray;
  content:"";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 7px;
  transition: all .3s ease-out;
}

.navbar .menu-icon .nav-icon:after {
  background: lightgray;
  content:"";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -7px;
  transition: all .3s ease-out;
}

.navbar .menu-btn {
  display: none;
}

.navbar .menu-btn:checked ~ .menu {
  max-height: 500px;
}

.navbar .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}
.navbar .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}
.navbar .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}


/* -------------- Homepage ----------------- */
/* -------------- Homepage ----------------- */
/* -------------- Homepage ----------------- */

.home-header{
  background-color: rgb(36, 16, 41);
  position: relative;
}
.homepage .home_hero {
  display: none;
  position: relative;
  top: 100px;
  background-image: url(assets/home.jpg);
  background-position: top;
  background-size: cover;
  height: 35vh;
  width: 100%;
  z-index: 0;
}
.homepage .home-h-1 h1 {
  color: aliceblue;
}
.homepage .home-h-2 {
  margin-left: 3.5%;
  margin-bottom: 10px;
  padding-bottom: 1;
  position: relative;
  z-index: 1;
}
.homepage .home-h-2 h1 {
  color: aliceblue;
}

.homepage .gsm {
  position: relative;
  top: 150px;
  z-index: 2;
  width: 80%;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  /* padding-top: 20vh; */
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 200px;
}

.homepage .gsm_txt {
  width: 675px;
}
.homepage .gsm_txt p {
  color: rgb(163, 163, 163);
}

.homepage .gsm_img {
  width: 500px;
  margin-left: 50px;
}

.homepage .gsm_img img {
  margin: auto;
  width: 110%;
}

.why {
  position: relative;
  width: 100%;
  clear: both;
  padding-bottom: 50px;
}

.why .why-head {
  display: block;
  width: 1200px;
  margin: auto;
}

.why .why-head h2 {
  text-align: center;
  font-size: calc(40px + (40 - 20) * ((100vw - 375px) / (1920 - 375)));
}

.why .why-head p {
  text-align: center;
  font-size: calc(18px + (18 - 14) * ((100vw - 375px) / (1920 - 375)));
}

.why .why-boxes {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  width: 80%;
  padding-top: 30px;
}

.why .why-boxes .box {
  width: 300px;
  margin: 30px 45px;
}

.why .why-boxes .box img {
  display: block;
  height: 100px;
  margin: auto;
}

.why .why-boxes .box h3 {
  text-align: center;
  color: darkslategray;
}

.why .why-boxes .box p {
  font-size: 17px;
  text-align: center;
  color: gray;
}

.industry {
  display: flex;
  flex-direction: row-reverse;
  padding: 50px;
  /* background-image: url(assets/industry2.jpg);
  background-size: cover;
  background-position: center; */
  justify-content: center;
  align-items: center;
}

.industry .text {
  width: 500px;
  margin: 0 50px;
}

/* .industry .text h1 {
  font-size: 40px;
} */

.industry .text p {
  color: darkslategray;
  font-size: calc(18px + (18 - 14) * ((100vw - 375px) / (1920 - 375)));
}

.industry .img {
  width: 350px;
  margin: 0 50px;
}

/* ---------------- Media Queries --------------------- */
/* ---------------- Media Queries --------------------- */
/* ---------------- Media Queries --------------------- */
/* ---------------- Media Queries --------------------- */


@media (max-width:1500px) {
  /* .homepage .gsm {
    top: 20px;
  } */
  .homepage .why .why-head{
    width: 80%;
  }
  .homepage .why .why-boxes{
    width: 90%;
  }
  .homepage .why .why-boxes .box {
    margin: 30px 30px;
  }
}


@media (max-width:1400px) {
  .homepage .gsm {
    top: 125px;
  }
  .homepage .home-header .gsm p {
      font-size: 19px;
  }
  
}


@media (max-width:1350px) {
  /* .homepage .gsm {
    top: 70px;
  } */
  .homepage .home-header .gsm p {
    font-size: 17px;
}
  .homepage .home-header .gsm h1 {
    font-size: 36px;
}
  .homepage .why .box {
    width: 275px;
  }
}


@media (max-width:1300px) {
  .homepage .home-header {
    top: 50px;
  }  
  .homepage .gsm {
    top: 75px;
  }
  .homepage .why .why-head {
    width: 80%;
  }
  .homepage .why .why-boxes{
    width: 90%;
    justify-content: center;
  }
  .homepage .why .why-boxes .box {
    width: 275px;
    margin: 50px;
  }
}

@media (max-width: 1150px) {
  .homepage .home-header {
    top: 80px;
  }
  .homepage .gsm {
    top: 50px;
  }
  .homepage .home-header .gsm h1 {
    font-size: 32px;
}
}

@media (max-width: 1100px) {
  .homepage .home-header {
    top: 100px;
  }
  .homepage .gsm {
    top: 0px;
    padding-bottom: 20px;
    align-items: center;
  }
  .homepage .home-header .gsm h1 {
    font-size: 30px;
}
.homepage .home-header .gsm p {
  font-size: 16px;
}
/* .homepage .home-header .gsm_img {
  width: 400px;
} */
}


@media (max-width: 950px) {
  
  .navbar {
    height: 80px;
  }
  .navbar .menu {
    clear: both;
    float: right;
    max-height: 0;
    transition: max-height 0.3s ease-out;
    /* background: rgb(25, 11, 29); */
    width: 30%;
  }
  .navbar .menu li {
    border-bottom: 1px solid darkslategray;
    text-align: center;
  }
  .navbar .logo {
    width: 125px;
    margin-left: 3.25%;
  }
  .homepage .home_hero {
    top: 75px;
  }
  .homepage .home-header {
    top: 80px;
  }
  .homepage .home-h-1 {
    display: none;
  }
  .homepage .home-h-2 {
    position: relative;
    top: -25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-top: 25px;
    padding-bottom: 0;
    width: 80%;
  }
  .homepage .home-h-2 h1 {
    font-size: calc(40px + (40 - 30) * ((100vw - 375px) / (950 - 375)));
  }
  .homepage .gsm {
    top: -25px;
    margin-top: 0;
    padding-top: 0;
    align-items: flex-start;
  }
  .homepage .gsm_txt {
    width: 80%;
  }
  .homepage .gsm .gsm_txt p {
    font-size: calc(18px + (18 - 16) * ((100vw - 375px) / (950 - 375)));
    text-align: justify;
  }
  .homepage .gsm_img {
    width: 400px;
  }
  .homepage .why .why-boxes{
    width: 100%;
    justify-content: center;
  }
  .homepage .why .why-boxes .box {
    width: 30%;
    margin: 5%;
  }
  .industry {
    flex-direction: column-reverse;
    
  }
  .industry .text {
    width: 80%;
  }
  .industry .img {
    width: 300px;
    margin-bottom: 50px;
  }
}

@media (min-width: 950px) {
  .navbar li {
    float: left;
  }
.navbar .menu a,
.navbar .menu a:active,
.navbar .menu a:visited,
.navbar li a{
    padding: 30px 30px;
  }
  .navbar .menu {
    clear: none;
    float: right;
    max-height: none;
    margin-right: 5%;
    padding-top: 15px;
  }
  .navbar .menu-icon {
    display: none;
  }
  .homepage .home-h-2 {
    display: none;
  }
}

@media (max-width: 790px) {
  .homepage .home-header{
    width: 100%;
    margin: 0;
  }
  .homepage .home-h-2 {
    box-sizing: border-box;
    width: 100%;
    /* float: left; */
    padding-left: 30px;
    background-color: rgb(36, 16, 41);
  }
  .homepage .home-h-2 h1{
    font-size: calc(40px + (40 - 30) * ((100vw - 375px) / (690 - 375)));
    width: 90%;
  }
  .homepage .gsm {
    top: -40px;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(36, 16, 41);
    width: 100%;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }
  .homepage .gsm .gsm_txt {
    width: 100%;
  }
  .homepage .gsm .gsm_txt p {
    font-size: calc(18px + (18 - 16) * ((100vw - 375px) / (690 - 375)));
    text-align: left;
  }
  .homepage .gsm .gsm_img {
    width: 100%;
    /* padding: 50px 0 50px 50px; */
    margin: 0;
  }
  .homepage .gsm .gsm_img img {
    display: block;
    width: 60%;
    margin: auto;
    padding: 50px 0;
  }
  .homepage .why {
    top: 100px;
  }
  .homepage .industry {
    position: relative;
    top: 100px;
  }
}
@media (max-width: 600px) {
  .homepage .why .why-head h2 {
    text-align: left; 
    font-size: 40px;   
  }
  .homepage .why .why-head p {
    text-align: left;
  }
  .homepage .why .why-boxes {
    flex-direction: column;
    align-items: center;
  }
  .homepage .why .why-boxes .box {
    width: 60%;
  }
}