/*
body {
  font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
}

*/
@hyphenate-resource {
  /* English */
  en: url(en-GB.hy);
  en-us: url(en-US.hy);
  en-x-hixie: url(hixie.hy), local, url(en-GB.hy);
  en-us-x-hixie: url(hixie.hy), local, url(en-US.hy);
}
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600,700,800,900|Raleway:900|Roboto:100,200,300,400,500&display=swap");

/* --------- Global Styles --------------- */
/* --------- Global Styles --------------- */
/* --------- Global Styles --------------- */

/* html {
  font-size: 2vw; 
  
} */

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: calc(32px + (32 - 26) * ((100vw - 950px) / (1920 - 950)));
  line-height: 1.3;
  color: rgb(36, 16, 41);
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: calc(36px + (36 - 20) * ((100vw - 375px) / (1920 - 375)));
  line-height: 1.1;
  color: rgb(36, 16, 41);
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.1;
  color: rgb(36, 16, 41);
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.1;
  color: rgb(36, 16, 41);
}

p {
  font-family: "Roboto", sans-serif;
  color: darkslategray;
  font-size: calc(17px + (17 - 14) * ((100vw - 375px) / (1920 - 375)));
  font-weight: 300;
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-word;
}

/* ------------ Navabar ------------- */
/* ------------ Navabar ------------- */
/* ------------ Navabar ------------- */

.navbar {
  position: relative;
  width: 100%;
  background-color: rgb(36, 16, 41);
  height: 100px;
  padding: 5px 0;
  /* box-shadow: 1px 5px 7px 0 rgba(0, 0, 0, 0.3); */
  z-index: 100;
}

.navbar .logo {
  float: left;
  display: block;
  width: 175px;
  padding: 20px 0 0 0;
  margin-left: 7.5%;
}

.navbar .menu {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: rgb(36, 16, 41);
  ]border-bottom: none;
  transition: all 0.3s ease-out;
}

.navbar .menu a,
.navbar .menu a:active,
.navbar .menu a:visited {
  display: block;
  font-family: Roboto;
  font-weight: 400;
  color: rgb(163, 163, 163);
  text-decoration: none;
  padding: 20px;
  transition: color 0.7s;
  -moz-transition: color 0.7s;
}

.navbar .menu a:hover {
  color: white;
}

.login input {
  cursor: pointer;
  font-family: Roboto;
  font-weight: 400;
  color: rgb(163, 163, 163);
  background-color: rgb(36, 16, 41);
  text-decoration: none;
  border: 2px solid rgb(163, 163, 163);
  border-radius: 30px;
  margin: 15px 0 0 10px;
  padding: 12px 20px;
  transition: all 0.7s;
}

.login input:hover {
  border: 2px solid springgreen;
  color: rgb(36, 16, 41);
  background-color: springgreen;
}

.navbar .menu-icon {
  display: block;
  padding: 22px 20px;
  position: relative;
  float: right;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.navbar .menu-icon .nav-icon {
  background: lightgray;
  display: block;
  height: 2px;
  width: 22px;
  position: relative;
  transition: background 0.3s ease-out;
}

.navbar .menu-icon .nav-icon:before {
  background: lightgray;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 7px;
  transition: all 0.3s ease-out;
}

.navbar .menu-icon .nav-icon:after {
  background: lightgray;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -7px;
  transition: all 0.3s ease-out;
}

.navbar .menu-btn {
  display: none;
}

.navbar .menu-btn:checked ~ .menu {
  max-height: 500px;
  border-bottom: springgreen 5px solid;
}

.navbar .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}
.navbar .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}
.navbar .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}

/* ------------ Footer ------------- */
/* ------------ Footer ------------- */
/* ------------ Footer ------------- */

.footer {
  position: relative;
  height: 35vw;
}

.footer::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 110%;
  background: url(assets/wavy-hd-bg2.svg) no-repeat bottom;
  background-size: 110% auto;
  transform: rotate(180deg);
  overflow: hidden;
  z-index: -1;
}

.footer .footer-content {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  bottom: 1vw;
  width: 100%;
  margin: auto;
  z-index: 200;
}

.footer .footer-content .address {
  margin-top: 0;
}

.footer .footer-content .address .footer-logo {
  width: 200px;
}

.footer .footer-content .address p,
.footer .footer-content .contact-follow .contact p,
.footer .footer-content .contact-follow .follow p,
.legal p {
  color: rgb(163, 163, 163);
  margin: 0;
  padding: 7.5px 0;
}

.footer .footer-content .contact-follow .contact h4,
.footer .footer-content .contact-follow .follow h4,
.footer .footer-content .footer-nav h4 {
  color: aliceblue;
  font-size: 28px;
  font-weight: 700;
  margin: 0;
  padding: 7.5px 0;
}

.footer .footer-content .address p {
  font-size: 14px;
}

.footer .footer-content .contact-follow .follow {
  margin-top: 20px;
}

.footer .footer-content .contact-follow .follow .follow-icons {
  display: flex;
  justify-content: flex-start;
  margin-top: 7.5px;
}

.footer .footer-content .contact-follow .follow .follow-icons img {
  width: 30px;
  margin-right: 15px;
  padding-right: 15px;
}

.footer .footer-content .footer-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer .footer-content .footer-nav a,
.footer .footer-content .footer-nav a:active,
.footer .footer-content .footer-nav a:visited {
  display: block;
  font-family: Roboto;
  font-weight: 400;
  color: rgb(163, 163, 163);
  text-decoration: none;
  padding: 5px;
  transition: color 0.7s;
  -moz-transition: color 0.7s;
  text-align: left;
  margin-left: 0;
  padding-left: 0;
}

.footer .footer-content .footer-nav a:hover {
  color: white;
}

.legal {
  display: flex;
  justify-content: center;
  margin: -2px auto;
  padding: 15px;
  background-color: rgb(36, 16, 41);
}

.legal p {
  font-size: 16px;
}

.legal a {
  font-family: Roboto;
  font-weight: 400;
  color: rgb(163, 163, 163);
  text-decoration: none;
  padding: 5px;
  transition: color 0.7s;
}

.legal a:hover {
  color: white;
}

/* -------------- Homepage ----------------- */
/* -------------- Homepage ----------------- */
/* -------------- Homepage ----------------- */

.homepage .home-header {
  position: relative;
  height: 35vw;
  margin-bottom: 150px;
}

.homepage .home-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url(assets/wavy-hd-bg2.svg) no-repeat bottom;
  background-size: 110% auto;
  z-index: -100;
}

.homepage .home-h-1 h1 {
  color: aliceblue;
  font-size: 50px;
  line-height: 1.1;
  margin: 0 0 10px 0;
  padding: 0;
}
.homepage .home-h-2 {
  margin-left: 3.5%;
  margin-bottom: 10px;
  padding-bottom: 1;
}
.homepage .home-h-2 h1 {
  color: aliceblue;
}

.homepage .gsm {
  position: relative;
  top: 50px;
  z-index: 2;
  width: 80%;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  /* padding-top: 20vh; */
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 200px;
}

.homepage .gsm_txt {
  width: 600px;
}
.homepage .gsm_txt p {
  color: rgb(163, 163, 163);
  padding: 0;
  margin: 0;
}

.homepage .gsm_img {
  width: 500px;
  margin-left: 50px;
}

.homepage .gsm_img img {
  margin: auto;
  width: 110%;
}

.homepage .why {
  width: 100%;
}

.homepage .why .why-head {
  position: relative;
  top: 75px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
  width: 1500px;
  margin: auto;
}

.homepage .why-head-txt {
  width: 550px;
  margin: 0 auto;
}

.homepage .why-head-txt h2 {
  padding: 0 0 0 0;
  margin: 0;
  font-size: calc(36px + (36 - 20) * ((100vw - 375px) / (1920 - 375)));
  text-align: left;
}

.homepage .why-head-vid {
  margin: 0 auto 50px auto;
  padding: 0;
}

.homepage .why-head-vid video {
  border-radius: 20px;
  display: block;
  width: 650px;
  margin: auto;
  padding: 0;
}

.homepage .why .why-boxes-container {
  width: 100%;
}

.homepage .why-boxes-container .divider1a {
  transform: rotateX(180deg);
  opacity: 0.15;
}

.homepage .why-boxes-container .divider1b {
  opacity: 0.15;
}

.homepage .why .why-boxes-container .why-boxes {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  width: 1200px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.homepage .why .why-boxes-container .why-boxes .box {
  width: 300px;
  margin: 30px 45px;
}

.homepage .why .why-boxes-container .why-boxes .box img {
  display: block;
  height: 100px;
  margin: auto;
}

.homepage .why .why-boxes-container .why-boxes .box h3 {
  text-align: center;
  color: rgb(36, 16, 41);
  padding: 20px 0 15px 0;
  margin: 0;
}

.homepage .why .why-boxes-container .why-boxes .box p {
  font-size: 17px;
  text-align: center;
  color: darkslategray;
  padding: 0;
  margin: 0;
}

.homepage .industry {
  display: flex;
  flex-direction: row-reverse;
  width: 90%;
  margin: 0 auto 100px auto;
  padding: 0 50px 0 50px;
  justify-content: center;
  align-items: center;
}

.homepage .industry .text {
  width: 600px;
  margin: 0 50px;
}

.homepage .industry .text h1 {
  font-size: 70px;
  line-height: 1;
  margin-bottom: 30px;
}

.homepage .industry .img {
  width: 350px;
  margin: 0 50px;
}

/* ---------------- How It Works --------------------- */
/* ---------------- How It Works --------------------- */
/* ---------------- How It Works --------------------- */
/* ---------------- How It Works --------------------- */


.how-it-works .how-header {
  position: relative;
  width: 100%;
  height: 24vw;
  margin: 0;
  padding: 0;
  z-index: -250;
}

.how-it-works .how-header::after {
  content: "";
  position: absolute;
  top: -5vw;
  width: 100%;
  height: 110%;
  background: url(assets/how-hdr-dt.png) no-repeat top;
  background-size: 100% auto;
  z-index: -240;
}

.how-it-works .how-header .hiw-txt {
  position: relative;
  float: right;
  top: 50px;
  right: 50px;
  width: 800px;
  margin: 0 75px;
  /* z-index: 90; */
}

.how-it-works .how-header .hiw-txt .how-h-1 h1 {
  font-size: 50px;
  margin: 0;
  padding: 0;
}

.how-it-works .how-header .hiw-txt p {
  font-weight: 300;
  margin: 0;
  padding: 10px 0 0 0;
}

.how-it-works .how-header .how-h-1 img {
  display: block;
  width: 30%;
  margin: auto;
}

.how-it-works .steps .step-a {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 125px 50px;
}

.how-it-works .steps .step-b {
  width: 95%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin: 125px 50px;
}

.how-it-works .steps #step1 {
  position: relative;
  margin-top: 250px;
  
}

.how-it-works .steps .step-txt {
  width: 500px;
  margin: 0 50px;
}

.how-it-works .steps .step-txt h2 {
  padding: 0 0 20px 0;
  margin: 0;
  font-size: calc(30px + (30 - 20) * ((100vw - 375px) / (1920 - 375)));
}

.how-it-works .steps .step-txt p {
  padding: 0 0 10px 0;
  margin: 0;
  font-size: calc(16px + (16 - 14) * ((100vw - 375px) / (1920 - 375)));
}

.how-it-works .steps .step-img {
  display: block;
  width: 750px;
  margin: 0 50px 0 0;
}

.how-it-works .steps #analytics {
  width: 500px;
}

.how-it-works .faq {
  width: 100%;
  margin-bottom: 200px;
}

.how-it-works .faq .accordian {
  width: 900px;
  margin: auto;
}

.how-it-works .faq .accordian .accordian-wrapper {
  list-style: none;
  padding: 0;
  margin: auto;
}

.how-it-works .faq .accordian .accordian-item {
  /* display: block; */
  border-top: solid 1px rgb(230, 230, 230);
  padding: 12.5px;
  width: 100%;
}

.how-it-works .faq .accordian .accordian-item span {
  display: block;
}

.how-it-works .faq .accordian .accordian-item .checkbox {
  display: none;
}

.how-it-works .faq .accordian .accordian-item label {
  width: 95%;
  display: block;
  cursor: pointer;
}

.how-it-works .faq .accordian .accordian-item h4 {
  display: block;
  float: left;
  margin: auto 0;
  padding-top: 12px;
  cursor: pointer;
  width: 90%;
  color: rgb(36, 16, 41);
}

.how-it-works .faq .accordian .accordian-item p {
  font-size: 16px;
  line-height: 1.75em;
}

.how-it-works .faq .accordian .accordian-item .help-icon {
  display: block;
  width: 35px;
  margin: 5px 10px auto 0;
  float: left;
}

.how-it-works .faq .accordian .accordian-item .arrow-icon {
  background-color: rgb(36, 16, 41);
  display: block;
  position: relative;
  width: 15px;
  height: 3px;
  top: 20px;
  border-radius: 5px;
  margin: auto;
  float: right;
  transform: rotate(45deg);
  transition: all 0.4s ease-in-out;
}

.how-it-works .faq .accordian .accordian-item .arrow-icon:before {
  background-color: rgb(36, 16, 41);
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin: auto;
  float: right;
  transform: rotate(-90deg);
  left: 6px;
  top: -6px;
  transition: all 0.4s ease-in-out;
}

.how-it-works .faq .accordian .accordian-item input:checked ~ .arrow-icon {
  transform: translate(15px) rotate(45deg);
}

.how-it-works .faq .accordian .accordian-item input:checked ~ .arrow-icon:before {
  transform: translate(-12.5px, 12.5px) rotate(-90deg);
}

.how-it-works .faq .accordian .accordian-item .panel {
  position: relative;
  padding: 0 70px 20px 70px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
  z-index: 2;
  clear: both;
}

.how-it-works .faq .accordian .accordian-item input:checked ~ .panel {
  max-height: 800px;
}

.how-it-works .faq .accordian .accordian-item #contact {
  max-width: 700px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.how-it-works .faq .accordian .accordian-item #contact input[type="text"],
.how-it-works .faq .accordian .accordian-item #contact input[type="email"],
.how-it-works .faq .accordian .accordian-item #contact textarea,
.how-it-works .faq .accordian .accordian-item #contact button[type="submit"] {
  font: 400 16px "Roboto", sans-serif;
}

.how-it-works .faq .accordian .accordian-item #contact fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

.how-it-works .faq .accordian .accordian-item #contact input[type="text"],
.how-it-works .faq .accordian .accordian-item #contact input[type="email"],
.how-it-works .faq .accordian .accordian-item #contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

.how-it-works .faq .accordian .accordian-item #contact input[type="text"]:hover,
.how-it-works .faq .accordian .accordian-item #contact input[type="email"]:hover,
.how-it-works .faq .accordian .accordian-item #contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

.how-it-works .faq .accordian .accordian-item #contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

.how-it-works .faq .accordian .accordian-item #contact button[type="submit"] {
  cursor: pointer;
  width: 100px;
  border-radius: 20px;
  border: none;
  background: #0cf;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

.how-it-works .faq .accordian .accordian-item #contact button[type="submit"]:hover {
  background: #09c;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.how-it-works .faq .accordian .accordian-item #contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.how-it-works .faq .accordian .accordian-item #contact input:focus,
.how-it-works .faq .accordian .accordian-item #contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}
::-webkit-input-placeholder {
  color: #888;
}
:-moz-placeholder {
  color: #888;
}
::-moz-placeholder {
  color: #888;
}
:-ms-input-placeholder {
  color: #888;
}

.error {
  color: red;
  font: 400 16px "Roboto", sans-serif;
}

.success {
  color: red;
  font: 400 16px "Roboto", sans-serif;
}

/* ---------------- Media Queries --------------------- */
/* ---------------- Media Queries --------------------- */
/* ---------------- Media Queries --------------------- */
/* ---------------- Media Queries --------------------- */

@media (max-width: 1600px) {
  .homepage .home-h-1 h1 {
    font-size: calc(34px + (34 - 26) * ((100vw - 950px) / (1920 - 950)));
  }
  .homepage .gsm .gsm_txt {
    width: 700px;
  }
  .homepage .gsm .gsm_txt p {
    padding-top: 10px;
  }
  .homepage .gsm .gsm_img {
    width: 400px;
  }
  .homepage .why .why-head {
    top: 25px;
    width: 90%;
  }
  .homepage .why .why-head .why-head-txt {
    width: 500px;
  }
  .homepage .why .why-head .why-head-vid video {
    width: 600px;
  }
  .homepage .why .why-boxes {
    width: 90%;
  }
  .homepage .why .why-boxes .box {
    margin: 30px 30px;
  }
  .how-it-works .how-header .hiw-txt {
    width: 50vw;
    top: 25;
    right: 25px;
  }
  .how-it-works .steps .step-img {
    width: 40vw;
  }
}

@media (max-width: 1400px) {
  .homepage .gsm {
    top: 50px;
  }
  .homepage .home-header .gsm p {
    font-size: 19px;
  }
  .homepage .why .why-head {
    top: -50px;
    flex-direction: column;
  }
  .homepage .why .why-head .why-head-txt {
    width: 800px;
    margin-bottom: 50px;
  }
  .homepage .why .why-head .why-head-txt h2 {
    text-align: center;
    font-size: 60px;
  }
  .homepage .why .why-head .why-head-txt p {
    text-align: center;
  }
  .homepage .why .why-head .why-head-vid video {
    width: 70%;
  }
  .how-it-works .how-header .hiw-txt {
    top: 0;
  }
}

@media (max-width: 1350px) {
  .homepage .home-header .gsm h1 {
    font-size: 36px;
  }
  .homepage .why .box {
    width: 275px;
  }
  .footer {
    height: 40vw;
  }
}

@media (max-width: 1300px) {
  .homepage .home-header {
    height: 42.5vw;
  }
  .homepage .gsm {
    top: 50px;
  }
  .homepage .why .why-boxes {
    width: 90%;
    justify-content: center;
  }
  .homepage .why .why-boxes .box {
    width: 275px;
    margin: 50px;
  }
}

@media (max-width: 1250px) {
  .navbar {
    height: 80px;
    position: relative;
    z-index: 98;
  }
  .navbar .menu {
    position: absolute;
    top: 75px;
    clear: both;
    float: right;
    max-height: 0;
    transition: max-height 0.3s ease-out;
    /* background: rgb(25, 11, 29); */
    width: 100%;
  }
  .navbar .menu li {
    border-bottom: 1px solid darkslategray;
    text-align: center;
    width: 40%;
    margin: auto;
  }

  .navbar .menu .reviews,
  .navbar .menu .reviews a {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 2.5px;
  }

  .navbar .menu .login {
    border-bottom: none;
    padding: 10px auto 20px auto;
    margin: 7.5px auto 15px auto;
  }

  .navbar .menu .login input {
    padding: 10px auto 20px auto;
    margin: 7.5px auto 15px auto;
  }

  .navbar .logo {
    width: 125px;
    margin-left: 5%;
    padding-top: 10px;
  }
  .homepage .home_hero {
    top: 75px;
  }
  .homepage .home-header {
    height: 50vw;
  }
  .homepage .home-h-1 {
    display: none;
  }
  .homepage .home-h-2 {
    position: relative;
    top: -25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-top: 25px;
    padding-bottom: 0;
    width: 80%;
  }
  .homepage .home-h-2 h1 {
    font-size: calc(40px + (40 - 30) * ((100vw - 375px) / (950 - 375)));
  }
  .homepage .gsm {
    top: -25px;
    margin-top: 0;
    padding-top: 0;
    align-items: flex-start;
  }
  .homepage .gsm_txt {
    width: 80%;
  }
  .homepage .gsm .gsm_txt p {
    font-size: calc(18px + (18 - 16) * ((100vw - 375px) / (950 - 375)));
    text-align: justify;
  }
  .homepage .gsm_img {
    width: 400px;
  }
  .homepage .why .why-boxes-container .why-boxes {
    width: 100%;
    justify-content: center;
  }
  .homepage .why .why-boxes .box {
    width: 30%;
    margin: 5%;
  }
  .homepage .industry {
    flex-direction: column-reverse;
  }
  .homepage .industry .text {
    width: 70%;
  }
  .homepage .industry .text .industry-hdr1 {
    display: none;
  }

  .homepage .industry .text .industry-hdr2 {
    text-align: center;
    font-size: 50px;
  }

  .homepage .industry .img {
    width: 300px;
    margin-bottom: 25px;
  }

  .how-it-works .how-header::after {
    top: 0;
  }
  
  .how-it-works .how-header .hiw-txt {
    width: 48vw;
    top: 15;
    right: 15px;
  }
  .how-it-works .steps .step-a,
  .how-it-works .steps .step-b {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 750px;
    margin: 75px auto;
  }
  .how-it-works .steps .step-txt {
    width: 100%;
  }
  .how-it-works .steps .step-img {
    width: 50vw;
    margin: 40px 0;
  }
  .how-it-works .steps #step1 {
    margin-top: 25vw;
    margin-bottom: 0px;
  }
  .how-it-works .steps #analytics {
    width: 45vw;
  }
}

@media (min-width: 1250px) {
  .navbar li {
    float: left;
  }
  .navbar .menu a,
  .navbar .menu a:active,
  .navbar .menu a:visited,
  .navbar li a {
    padding: 30px 30px;
  }
  .navbar .menu {
    clear: none;
    float: right;
    max-height: none;
    margin-right: 5%;
    padding-top: 15px;
  }
  .navbar .menu-icon {
    display: none;
  }
  .homepage .home-h-2 {
    display: none;
  }
  .homepage .industry .text .industry-hdr2 {
    display: none;
  }
}

@media (max-width: 1190px) {
  .homepage .home-header {
    height: 55vw;
  }
  .homepage .gsm {
    top: -14vw;
    padding-bottom: 20px;
    align-items: center;
  }
  .homepage .home-header .gsm h1 {
    font-size: 30px;
  }
  .homepage .home-header .gsm p {
    font-size: 18px;
    line-height: 1.6;
  }
}

@media (max-width: 1050px) {


  .how-it-works .how-header {
    position: unset;
    height: unset;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    background-color: rgb(36, 16, 41);
  }
  .how-it-works .how-header .hiw-lady-img {
    position: relative;
    bottom: -5px;
  }
  .how-it-works .how-header .hiw-lady-img img {
    width: 250px;
    bottom: -10px;
  }
  .how-it-works .how-header .hiw-txt {
    all: unset;
    width: 55vw;
  }
  .how-it-works .how-header::after {
    display: none;
  }
  .how-it-works .steps #step1 {
    margin-top: 75px;
  }
  .how-it-works .faq .accordian {
    width: 80vw;
  }
  .faq .accordian .accordian-item {
    padding: 12px;
  }
  .faq .accordian .accordian-item h4 {
    font-size: 20px;
    padding-top: 10px;
  }
  .faq .accordian .accordian-item .arrow-box {
    position: relative;
    top: 0px;
  }
  .faq .accordian .accordian-item .panel {
    padding: unset;
  }
  .footer {
    height: 45vw;
  }
}

@media (min-width: 1050px) {
  .how-it-works .how-header .hiw-lady-img {
    display: none;
  }
}

@media (max-width: 1000px) {
  .homepage .home-header {
    height: 95vw;
  }
  .homepage .home-header::after {
    background: url(assets/wavy-hd-bg2.svg) no-repeat top;
    background-size: 110% 100%;
    top: -10px;
  }
  .homepage .gsm {
    flex-direction: column;
    top: -5vw;
    width: 80%;
    margin: 0 auto 50px auto;
  }
  .homepage .gsm .gsm_txt {
    width: 100%;
  }
  .homepage .gsm .gsm_img {
    position: relative;
    margin: 50px auto;
    right: 25px;
    width: 42vw;
  }
  .homepage .why .why-head {
    top: 0;
  }
  .homepage .why .why-head .why-head-txt {
    width: 80%;
  }
  .homepage .industry .text {
    width: 80%;
  }
  .how-it-works .faq .accordian .panel #contact input,
  .how-it-works .faq .accordian .panel #contact textarea {
    width: 90%;
  }
}

@media (max-width: 850px) {
  .homepage .home-header {
    position: unset;
    height: unset;
    top: -15px;
    background: rgb(36, 16, 41);
    margin-bottom: 50px;
  }
  .homepage .home-header::after {
    display: none;
  }
  .homepage .home-header .home-h-2 {
    position: unset;
    width: 90%;
    padding: 25px auto 0 auto;
    margin: auto;
    background-color: rgb(36, 16, 41);
  }
  .homepage .gsm {
    position: unset;
    width: 90%;
  }
  .homepage .home-header .gsm .gsm_txt p {
    text-align: left;
    line-height: 1.7;
    padding-bottom: 50px;
  }
  .homepage .gsm .gsm_img {
    display: none;
  }
  .homepage .why .why-head {
    width: 100%;
  }
  .homepage .why .why-head .why-head-txt {
    width: 90%;
  }
  .homepage .why .why-head .why-head-txt h2 {
    font-size: 50px;
    text-align: left;
  }
  .homepage .why .why-head .why-head-txt p,
  .how-it-works .steps .step-txt p {
    text-align: left;
  }
  .homepage .why .why-head .why-head-vid video {
    width: 80%;
  }
  .homepage .industry {
    width: 100%;
    padding: 0;
  }
  .homepage .industry .img {
    width: 200px;
  }
  .homepage .industry .text {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  .how-it-works .how-header {
    flex-direction: column;
    align-items: center;
  }
  .how-it-works .how-header .hiw-txt {
    width: 90%;
    padding-bottom: 75px;
  }
  .how-it-works .how-header .hiw-lady-img {
    display: none;
  }
  .how-it-works .steps .step-a,
  .how-it-works .steps .step-b {
    width: 90%;
  }
  .footer {
    position: relative;
    height: 1000px;
    background-color: rgb(36, 16, 41);
  }
  .footer::after {
    display: none;
  }
  .footer .footer-content {
    position: unset;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 100px;
  }
  .footer .footer-content .address p,
  .footer .footer-content .contact-follow .follow h4,
  .footer .footer-content .contact h4,
  .footer .footer-content .contact p,
  .footer .footer-nav h4,
  .footer .footer-nav .footer-nav-links a,
  .legal p {
    text-align: center;
  }
  .footer .footer-content .contact-follow .follow .follow-icons {
    justify-content: space-between;
    margin: 15px;
  }
  .footer .footer-content .contact-follow .follow .follow-icons img {
    margin:auto;
    padding-right: 0;
  }
  .footer .footer-content .contact-follow .follow p {
    text-align: center;
    margin-bottom: 50px;
  }
  .footer .footer-nav,
  .footer .footer-content .contact {
    margin-bottom: 50px;
  }
  .legal {
    width: unset;
  }

  @media (max-width: 700px) {

    .homepage .why .why-head .why-head-txt h2 {
      font-size: 9vw;
    }
    .homepage .why .why-head .why-head-vid video {
      width: 100%;
      border-radius: unset;
    }
    .homepage .why .why-boxes-container .divider1a {
      display: none;
    }
    .homepage .why .why-boxes-container .why-boxes {
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
      padding-top: 50px;
    }
    .homepage .why .why-boxes-container .why-boxes .box {
      width: 60%;
    }
    .homepage .industry .img {
      width: 150px;
    }
    .homepage .industry .text .industry-hdr2,
    .how-it-works .how-header .how-h-1 .hiw-txt h1 {
      color: aliceblue;
      font-size: 9vw;
      text-align: left;
    }
    .homepage .industry .text p,
    .how-it-works .how-header .hiw-txt p{
      text-align: left;
      line-height: 1.7;
    }
    .how-it-works .steps .step-txt {
      width: 100%;
      margin: 0;
    }
    .how-it-works .steps .step-img {
      width: 75vw;
    }
    .how-it-works .steps #analytics {
      width: 60vw;
    }
    .how-it-works .faq .accordian {
      width: 100%;
    }
    .how-it-works .faq .accordian .accordian-item {
      width: unset;
    }
    .how-it-works .faq .accordian ul {
      width: 90vw;
    }
    .how-it-works .faq .accordian .accordian-item .help-icon {
      display: none;
    }
    .faq .accordian .accordian-item .arrow-box {
      display: none;
    }
    .how-it-works .faq .accordian .accordian-item h4 {
      font-size: 18px;
      line-height: 1.5;
    }
}
